@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
    --green: #c1c700;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37, 1.14, .26, 1.24);
}

body{
    overflow-x: hidden !important;
}

*::selection {
    background: var(--green);
    color: #fff;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color del fondo del scroll */
    border-radius: 20px;
    /* Radio del borde del fondo del scroll */
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    /* Color del scroll */
    border-radius: 20px;
    /* Radio del borde del scroll */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
    /* Color del scroll al pasar el mouse */
}

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    background: #20ba5a;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn {
    height: 3.5rem;
    width: auto;
    padding: 0 1rem;
    background: var(--green);
    color: #ffffff;
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    border: .2rem solid var(--green);
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background: var(--green);  /* Asegura que el fondo no cambie */
    color: #ffffff;           /* Asegura que el color de texto no cambie */
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background: var(--green);  /* Asegura que el fondo no cambie */
    color: #ffffff;           /* Asegura que el color de texto no cambie */
    transform: translateY(-1px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}



.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--green);
    padding: 1rem;
    padding-top: 11rem;
}

.quienesSomos {
    font-size: 4rem;
    color: var(--green);
    padding: 1rem;
    padding-top: 11rem;
}

.heading i {
    color: var(--green);
    font-size: 2rem;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Añade esta línea */
    background: url(../img/main.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}


.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta la opacidad según sea necesario */

}

.home .content {
    text-align: center;
    padding: 1rem;
    z-index: 1;
     max-width: 90%;
}

.home .content h1 {
    font-size: 5.6rem;
    color: var(--green);
}

.home .content p {
    font-size: 1.9rem;
    color: #ffffff;
    padding: 1rem 0;
    width: 70rem;
    margin: 0 auto;
    /* Esto centrará el párrafo horizontalmente */
    text-align: center;
    /* Esto asegurará que el texto esté centrado */
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.comentariosCards {
    text-align: center;
    align-content: center;
    color: var(--green);
    font-size: 4rem;
    margin-bottom: 1rem;
}

.imgCard {
    width: 5rem;
    border-radius: 50%;
    
}

.item .userComment {
    font-size: 0.8rem;
    color: #666;
}


.slider {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: center;
    background-color: var(--green);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

#next {
    position: absolute;
    right: 50px;
    top: 40%;
}

#prev {
    position: absolute;
    left: 50px;
    top: 40%;
}

#prev,
#next {
    color: black;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#prev:hover,
#next:hover {
    opacity: 1;
}

.service {
    background: #f0f0f0;
    min-height: 57rem;
}

.service .box-container {
    display: flex;
    align-items: stretch;
    /* Esto estira las cajas para igualar la altura */
    justify-content: center;
    flex-wrap: wrap;
    width: 78%;
    margin: 0 auto;
}

.service .box-container .box {
    flex: 1 1 25rem;
    padding: 2rem 1rem 1rem;
    text-align: center;
    background: #fff;
    border: .2rem solid var(--green);
    margin: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    /* Para alinear verticalmente el contenido */
    flex-direction: column;
    /* Para alinear verticalmente el contenido */
    justify-content: space-between;
    /* Para alinear verticalmente el contenido */
    border-radius: 5px;
}

.service .box-container .box i {
    color: var(--green);
    font-size: 3rem;
    padding: 0.5rem 0;
}

.service .box-container .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin: 0;
}

.service .box-container .box a {
    color: #333;
    font-size: 1.3rem;
}

.service .box-container .box a:hover {
    color: var(--green);
}

.service .box-container .box:hover {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

/* media queries  */

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    .about .content .heading {
        text-align: center !important;
        align-items: center !important;
        padding: 1rem;
        flex-wrap: wrap;
        margin: auto;
    }

    .home .content h1 {
        font-size: 4rem;
    }

    .home .content p {
        width: auto;
    }

    .service .box-container {
        width: auto;
    }

    .about .row .content p {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .video {
        display: none; /* Oculta el contenedor del video */
    }


}


@media only screen and (min-width:320px) and (max-width:768px) {

    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}