@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap');

html {
    font-size: 62.5%; /* 1rem = 10px */
}

.container {
    margin-top: 10rem;
    padding-bottom: 5rem;
}

.card {
    border-radius: 30px !important; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; /* Color de fondo */
    
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); /* Más fuerte al pasar el mouse */
}

.card img {
    border-radius: 30px 30px 0 0; /* Bordes redondeados para la imagen */
    width: 100%; /* Asegura que la imagen ocupa el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio inferior que puede aparecer en algunas imágenes */
}

.card-title {
    font-size: 2rem;
    color: #333;
}

.card-titleDos {
    font-size: 1.6rem;
    color: var(--green);
}

.card-text {
    font-size: 1.4rem;
    color: #666;
}

.cajitas {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.iconito {
    font-size: 3rem; /* Aumentar tamaño */
    margin: 0 1rem;
    color: var(--green);
    transition: transform 0.3s ease, color 0.3s ease;
}

.iconito:hover {
    transform: scale(1.2);
    color: #007BFF; /* Cambiar color al pasar el mouse */
}

/* Estilo adicional para iconos */
.iconito i {
    width: 50px; /* Tamaño fijo para uniformidad */
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px; /* Centrar el icono */
    border-radius: 50%; /* Hacerlos redondos */
    background-color: rgba(0, 123, 255, 0.1); /* Fondo sutil */
}
