@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
  --green: #c1c700;
  --dark-green: #949e24;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
}

*::selection {
  background: var(--green);
  color: #fff;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del fondo del scroll */
  border-radius: 20px;
  /* Radio del borde del fondo del scroll */
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  /* Color del scroll */
  border-radius: 20px;
  /* Radio del borde del scroll */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green);
  /* Color del scroll al pasar el mouse */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: var(--green);
  padding: 1rem;
  padding-top: 11rem;
}

.heading i {
  color: var(--green);
  font-size: 2rem;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.2rem 5rem;
  width: 100%;
}

header .logo {

  font-size: 3rem;
  color: inherit;
  /* Mantener el color del texto original */
  text-decoration: none;
  /* Eliminar subrayado al pasar el cursor */
}

a.logo {
  color: var(--green);
  font-size: 2.5rem;
}

a.logo:hover {
  color: var(--green);
  /* Mantener el color del texto original */
  text-decoration: none;
  /* Eliminar subrayado al pasar el cursor */
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: #666;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--green);
  font-weight: bold;
}

.logo img {
  width: 7rem;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

header .navbar ul li a:hover {
  color: var(--green);
}

/* Modifica la regla para la clase 'custom-link' y aumenta la especificidad */

header .fa-bars {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  display: none;
}


/* Estilos para las tarjetas */
.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: auto;
  display: inline-block;
  justify-content: flex-start;
  text-align: start;
  margin-bottom: 2rem;
  background-color: #fff;
}

#cardPresentacion {
  text-align: center;
  justify-content: center;
  align-items: center;
}


.card:hover {
  transform: scale(1.05);
  /* Efecto de aumento al pasar el ratón */
}

/* Estilos para la sección de Puntuación y Opinión */
.card .rating {
  display: flex;
  justify-content: flex-end;
  /* Alinea la puntuación hacia la derecha */
  margin-bottom: 10px;
  direction: rtl;
  /* Dirección de derecha a izquierda para el texto */
}

.card .btn {
  width: 100%;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #8f8f00;
  border: 2px solid #f3f39e;
  border-radius: 5px;
  cursor: pointer;
  animation: borderAnimation 3s infinite;
}

@keyframes borderAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    border-color: #8f8f00;
    color: #eff789;
  }

  100% {
    transform: scale(1.1.5);
  }
}

.container .row img {
  flex: 1 1 0.5rem;
  padding: 2rem;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  /* Hace que las imágenes sean circulares */
  object-fit: cover;
  /* Escalado de la imagen para que ocupe todo el contenedor circular */
}

.container {
  margin-top: 9.5rem;

}

.container .row {
  flex: 1 1 40rem;
  padding: 2rem;
}

.container .card-body .card-title {
  font-size: 2rem;
  color: #666;
}

.container .card-body .card-titleDos {
  font-size: 2rem;
  color: #b4c403;
}

.container .card-body .card-text {
  font-size: 1.5rem;
  color: #949e24;
}


.container .card-body .btn {
  color: #eee;
  background-color: #c1c700;
  border-color: #c1c700;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  font-size: 2rem;
}

.text-left {
  text-align: left !important;
}


/* ventana emergente*/
.container .modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.container .modal-content {
  background-color: var(--green);
  border-radius: 10px;
  padding: 30px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.container .modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo con efecto de difuminado */
  backdrop-filter: blur(5px);
  /* Aplicación del efecto de difuminado */
  z-index: -1;
}

.container .close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 10px;
  right: 10px;
}

.container .close:hover,
.close:focus {
  color: #fdfded;
  text-decoration: none;
  cursor: pointer;
}

.container .modal-text {
  /* Centramos el contenido vertical y horizontalmente */
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .modal .btn {
  color: #fff;
  background-color: #8f8f00;
  border-color: #8f8f00;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.container .modal .btn.btn-primary:hover {
  background-color: #818156;
  /* Cambiar el color de fondo al pasar el mouse */
  border-color: #818156;
  /* Cambiar el color del borde al pasar el mouse */
}


.footer {
  background: #333;
  text-decoration: none;
}

.footer .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  text-decoration: none;
}

.footer .box-container .box {
  margin: 0.5rem;
  flex: 1 1 25rem;

  text-decoration: none !important;
}

.footer .box-container .box .logo {
  font-size: 2rem;
  color: var(--green);
  text-decoration: none !important;
}

.footer .box-container .box .logo .img {
  width: 1rem;
}

.footer .box-container .box p {
  font-size: 1.7rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: normal;
  text-decoration: none;
}

.footer .box-container .box .share {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer .box-container .box:nth-child(2) a {
  text-align: center;
  font-size: 1.4rem;
  color: #eee;
  display: block;
  padding: .5rem 0;
  text-decoration: none;
}

.footer .box-container .box:nth-child(2) a:hover {
  text-decoration: underline;

}

.footer .box-container .box .letter {
  font-size: 2rem;
  color: #fff;
}

.footer .box-container .box form input[type="email"] {
  padding: 0 1rem;
  outline: none;
  border: .2rem solid var(--green);
  background: none;
  font-size: 1.7rem;
  color: #fff;
  height: 4rem;
  width: 74%;
}

.footer .credit {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  width: 85%;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-top: .1rem solid #ccc;
  text-decoration: none;
}

.footer .credit span {
  color: var(--green);
}

/* media queries  */

@media (max-width:768px) {

  html {
    font-size: 55%;
  }

  header .fa-bars {
    display: block !important;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    border-top: .1rem solid #ccc;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
    align-items: center;
    padding: 2rem 0;
    background-color: #fff;
    width: 100%;
    /* Ocupar todo el ancho disponible */
    padding-top: 1rem;
    /* Espacio adicional en la parte superior */
  }

  header .navbar ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  header .navbar ul li a {
    font-size: 3rem;
    display: block;
    width: 100%;
    /* Ocupar todo el ancho disponible */
    padding: 1rem 0;
    /* Espacio adicional en el enlace */
  }

  header .nav-toggle {
    top: 7.4rem;
    opacity: 1;
  }

  .fa-times {
    transform: rotate(180deg) !important;
  }

  header .nav-toggle {
    top: 6.5rem;
    opacity: 1;
    display: block !important;
  }

  .home .content h1 {
    font-size: 5rem;
  }

  .home .content p {
    width: auto;
  }

  .service .box-container {
    width: auto;
  }

}

