@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
    --green: #c1c700;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: var(--green);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--green);
    padding: 1rem;
    padding-top: 11rem;
}

.heading i {
    color: var(--green);
    font-size: 2rem;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.2rem 5rem;
    width: 100%;
}

.logo {

    font-size: 2.5rem;
    color: inherit;
    /* Mantener el color del texto original */
    text-decoration: none;
    /* Eliminar subrayado al pasar el cursor */
    font-weight: bold;
}

a.logo {
    color: var(--green);
}

a.logo:hover {
    color: var(--green);
    /* Mantener el color del texto original */
    text-decoration: none;
    /* Eliminar subrayado al pasar el cursor */
}

.logo img {
    width: 7rem;
    /* Ancho de la imagen */
    height: auto;
    /* Altura automática para mantener la proporción */
    margin-right: 10px;
    /* Espacio a la derecha del logo */
    vertical-align: middle;
    /* Alinear verticalmente */
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #666;
    text-decoration: none;
}

header .navbar ul li a:hover {
    color: var(--green);
}

header .fa-bars {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}




/* Estilos para las tarjetas */
.card {
    width: 40rem;
    height: 45rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s;
    justify-content: center;
    align-items: center;
}

.card .tooltiptext {
    visibility: hidden;
    background-color: var(--green);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 2rem;
    /* Position the tooltip text - see examples below! */
    width: 500px;
    bottom: 100% !important;
    z-index: 2;
    /* Asegúrate de que el tooltip tenga un z-index mayor que la tarjeta */

}

.card:hover .tooltiptext {
    visibility: visible;
}

.card:hover {
    transform: scale(1.05);
    /* Efecto de aumento al pasar el ratón */
}


.card .card-body {
    padding: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h5 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 0rem;
    color: #3D3D3D;
}

.card p {
    margin: 0;
    font-size: 1.2rem;
    color: #949e24;
}

.card .card-text-diponibilidad {
    color: var(--green);
}


.card .card-titleDos {
    color: #b4c403;
    font-size: 1.5rem;
}

.container .row img {
    flex: 1 1 0.5rem;
    padding: 2rem;
    width: 22rem;
    height: 22rem;
    border-radius: 45%;
    /* Hace que las imágenes sean circulares */
    object-fit: cover;
    /* Escalado de la imagen para que ocupe todo el contenedor circular */
}

.filter-container {
    display: flex;
    margin: 20px 0;
    color: var(--green);
    flex-direction: column;
}

label {
    margin-right: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--green);
}

select {
    padding: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    /* Add margin at the bottom for spacing */
    border: 1px solid var(--green);
    border-radius: 4px;
    width: 100%;
    /* Make the select box take 100% width on smaller screens */
    color: var(--green);
}

select option {
    font-size: 1.5rem;
    color: var(--green);
}

#buscarBtn {
    background-color: var(--green);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.no-results-message {
    text-align: center;
    font-size: 2rem;
    /* Adjust the font size as needed */
    margin: 20px 0;
    /* Add margin for spacing */
    color: var(--green);
    /* Optionally, set the color to your preference */
}


/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    select {
        margin-right: 0;
        /* Remove right margin on smaller screens */
    }

    #buscarBtn {
        margin-left: 0;
        /* Remove left margin on smaller screens */
        margin-top: 10px;
        /* Add top margin for spacing */
    }
}


.container .card-body .btn {
    color: #eee;
    background-color: #c1c700;
    border-color: #c1c700;
    font-size: 1.5rem;
}

.card-body .btn.btn-primary:hover {
    background-color: #8f8f00;
    /* Cambiar el color de fondo al pasar el mouse */
    border-color: #8f8f00;
    /* Cambiar el color del borde al pasar el mouse */
}

/* Estilos para las estrellas */
.card .rating {
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
}

.rating {
    margin-top: 0;
}

/* Estilo para el número después de las estrellas */
.rating p {
    font-size: 1.5rem;
    /* Tamaño del número */
    margin-top: 5px;
    /* Espacio superior */
    color: #333;
    /* Color del número */
    display: inline-block;
    /* Para alinear correctamente con las estrellas */
    font-weight: bold;
    /* Negrita para resaltar */
    margin-left: 5px;
}

.card .rating .fa {
    font-size: 1.5rem;
}

.card .rating .fa.checked {
    color: var(--green);
    font-size: 1.5rem;
    /* Color de las estrellas marcadas */
}

/* Estilo para la quinta estrella sin marcar */
.card .rating .fa.unchecked {
    font-size: 1.5rem;
    color: #ddd;
    /* Color para la estrella no marcada */
}

.service {
    background: #f0f0f0;
    min-height: 42rem;
}

.service .headingService {
    text-align: center;
    font-size: 3rem;
    color: var(--green);
    padding: 1rem;
    padding-top: 2rem;
}

.service .box-container {
    display: flex;
    align-items: stretch;
    /* Esto estira las cajas para igualar la altura */
    justify-content: center;
    flex-wrap: wrap;
    width: 78%;
    margin: 0 auto;
}

.service .box-container .box {
    flex: 1 1 25rem;
    padding: 2rem 1rem 1rem;
    text-align: center;
    background: #fff;
    border: .2rem solid var(--green);
    margin: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    /* Para alinear verticalmente el contenido */
    flex-direction: column;
    /* Para alinear verticalmente el contenido */
    justify-content: space-between;
    /* Para alinear verticalmente el contenido */
}

.service .box-container .box i {
    color: var(--green);
    font-size: 3rem;
    padding: 0.5rem 0;
}

.service .box-container .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin: 0;
}

.service .box-container .box h3 {
    color: #333;
    font-size: 2rem;
}

.service .box-container .box a {
    color: #333;
    font-size: 1.7rem;
}

.service .box-container .box a:hover {
    color: var(--green);
}

.service .box-container .box:hover {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}



.footer {
    background: #333;
    text-decoration: none;
}

.footer .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    text-decoration: none;
}

.footer .box-container .box {
    margin: 0.5rem;
    flex: 1 1 25rem;

    text-decoration: none !important;
}

.footer .box-container .box .logo {
    font-size: 2rem;
    color: var(--green);
}

.footer .box-container .box .logo .img {
    width: 1rem;
}

.footer .box-container .box p {
    font-size: 1.7rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: normal;
    text-decoration: none;
}

.footer .box-container .box .share {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer .box-container .box:nth-child(2) a {
    text-align: center;
    font-size: 1.4rem;
    color: #eee;
    display: block;
    padding: .5rem 0;
    text-decoration: none;
}

.footer .box-container .box:nth-child(2) a:hover {
    text-decoration: underline;

}

.footer .box-container .box .letter {
    font-size: 2rem;
    color: #fff;
}

.footer .box-container .box form input[type="email"] {
    padding: 0 1rem;
    outline: none;
    border: .2rem solid var(--green);
    background: none;
    font-size: 1.7rem;
    color: #fff;
    height: 4rem;
    width: 74%;
}

.footer .credit {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    width: 85%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-top: .1rem solid #ccc;
    text-decoration: none;
}

.footer .credit span {
    color: var(--green);
}


/* media queries  */

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        border-top: .1rem solid #ccc;
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
        align-items: center;
        padding: 2rem 0;
        background-color: #fff;
        width: 100%;
        /* Ocupar todo el ancho disponible */
        padding-top: 1rem;
        /* Espacio adicional en la parte superior */
    }

    header .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
        width: 100%;
        /* Ocupar todo el ancho disponible */
        padding: 1rem 0;
        /* Espacio adicional en el enlace */
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .nav-toggle {
        top: 7.4rem;
        opacity: 1;
    }

    .home .content h1 {
        font-size: 5rem;
    }

    .home .content p {
        width: auto;
    }

    .service .box-container {
        width: auto;
    }

}

@media (max-width:500px) {

    .donate .form-container form .inputBox input,
    select {
        width: 100%;
    }

    .donate .form-container form {
        width: 90%;
    }
}