@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
  --green: #c1c700;
  --dark-green: #949e24;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
}

*::selection {
  background: var(--green);
  color: #fff;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color del fondo del scroll */
  border-radius: 20px;
  /* Radio del borde del fondo del scroll */
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  /* Color del scroll */
  border-radius: 20px;
  /* Radio del borde del scroll */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green);
  /* Color del scroll al pasar el mouse */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/*CARD*/
.custom-margin-top {
  margin-top: 11rem !important;
  /* Ajusta el valor a tus necesidades */
}

.card {
  transition: transform 0.2s;
  /* Efecto de hover */
  border-radius: 30px !important;
  /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

.card img {
  border-radius: 30px !important; /* Bordes redondeados para la imagen */
  width: 100%; /* Asegura que la imagen ocupa el 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio inferior que puede aparecer en algunas imágenes */
  margin-left: -0.5rem; /* Elimina el margen negativo */
  margin-top: 3rem !important;
}

.custom-img {
  margin: 0 auto !important; /* Centra la imagen en el contenedor */
}

@media (max-width: 576px) {
  .custom-img {
    width: 90% !important; /* Ajusta el ancho para móviles */
    margin: 0 auto !important; /* Asegura que esté centrada */
  }
}


.custom-img {
  width: 100%;
  /* Ajustar la imagen al 100% del ancho de la tarjeta */
  height: auto;
  /* Mantener la proporción de la imagen */
  max-height: 400px;
  /* Ajustar la altura máxima si es necesario */
  object-fit: cover;
  /* Recortar la imagen para que ajuste al contenedor */
}


.card:hover {
  transform: scale(1.02);
  /* Efecto de zoom */
}

.card-title {
  font-weight: bold;
  /* Negrita para el título */
  font-size: 2rem;
  /* Aumenta el tamaño de la fuente */
  color: var(--green) !important;
  /* Cambia el color del texto */
}

.card-titleDos {
  font-size: 1.5rem;
  /* Tamaño un poco más grande */
  font-style: italic;
  /* Estilo itálico */
  color: var(--green) !important;
  /* Cambia el color del texto */
}

.card-text {
  color: #555;
  font-size: 1.3rem;
  font-weight: 400;
  /* Color de texto para las descripciones */
}

.card-valor {
  text-align: center;
  /* Centra el texto */
  font-size: 3rem;
  /* Tamaño de fuente ligeramente más grande */
  font-weight: bold;
  /* Pone el texto en negrita */
  color: var(--dark-green);
  /* Color del texto */
  margin: 1rem 0;
  /* Margen superior e inferior */
  padding: 0.5rem;
  /* Padding alrededor del texto */
}

.button-33 {
  background-color: #f5fcc2;
  /* Un color más claro basado en #c1c700 */
  border-radius: 100px;
  box-shadow: rgba(193, 199, 0, .2) 0 -25px 18px -14px inset,
    rgba(193, 199, 0, .15) 0 1px 2px,
    rgba(193, 199, 0, .15) 0 2px 4px,
    rgba(193, 199, 0, .15) 0 4px 8px,
    rgba(193, 199, 0, .15) 0 8px 16px,
    rgba(193, 199, 0, .15) 0 16px 32px;
  color: #7a7c00;
  /* Texto de color más oscuro basado en #c1c700 */
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1.5rem;
}

.button-33:hover {
  box-shadow: rgba(193, 199, 0, .35) 0 -25px 18px -14px inset,
    rgba(193, 199, 0, .25) 0 1px 2px,
    rgba(193, 199, 0, .25) 0 2px 4px,
    rgba(193, 199, 0, .25) 0 4px 8px,
    rgba(193, 199, 0, .25) 0 8px 16px,
    rgba(193, 199, 0, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



.btn:hover {
  transform: translateY(-2px);
  /* Efecto de elevar el botón al pasar el mouse */
}

/*comentarios*/
.testimonial {
  max-width: 600px;
  margin: 0 auto; /* Centrar el testimonio */
  padding: 20px; /* Padding alrededor del testimonio */
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
  overflow-y: hidden;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #b6e6f6;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: black;
}


/* ventana emergente*/
.card-modern-shadow {
  max-width: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 30px;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  /* Incrementa el tamaño general del texto */
  font-weight: 500;
  /* Hace el texto un poco más grueso */
  position: relative;
}

/* Header modern look */
.modal-header {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .category-modern {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.btn-close {
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

/* Body content styling */
.modal-body .content-modern {
  padding: 20px;
  text-align: center;
  color: #555;
  font-size: 1.5rem;
}

h6.category-modern {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: #333;
  text-transform: uppercase;
}

.description-modern {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Input fields */
.modern-input-container {
  margin-bottom: 15px;
}

.form-control-modern {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1em;
  color: #333;
}

.form-control-modern:focus {
  border-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Button modern styles */
.btn-modern-primary {
  background-color: #333;
  /* Color de fondo normal */
  color: #fff;
  /* Color del texto normal */
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.2rem !important;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Añadir transición suave */
}

.btn-modern-primary:hover {
  background-color: #c1c700;
  /* Cambia el color de fondo al pasar el mouse */
  color: #fff;
  /* Mantener el color del texto en blanco */
  border-color: #c1c700;
}



