@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
    --green: #c1c700;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: var(--green);
    color: #fff;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color del fondo del scroll */
    border-radius: 20px;
    /* Radio del borde del fondo del scroll */
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    /* Color del scroll */
    border-radius: 20px;
    /* Radio del borde del scroll */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
    /* Color del scroll al pasar el mouse */
}

.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 25px;
    right: 25px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    background: #20ba5a;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn {
    height: 3.5rem;
    width: auto;
    padding: 0 1rem;
    background: none;
    outline: none;
    border: .2rem solid var(--green);
    color: #ffffff;
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
    border-radius: 5px;
    background-color: var(--green);
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: var(--green);
    margin-bottom: 1rem;
    text-align: start !important;
}

.headingService {
    text-align: center;
    font-size: 2.35rem;
    color: var(--green);
    padding: 1rem;
    padding-top: 7rem;
}

.headingService i {
    color: var(--green);
    font-size: 2rem;
}

.heading i {
    color: var(--green);
    font-size: 2rem;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.2rem 5rem;
    width: 100%;
}

.logo {
    color: var(--green);
    font-size: 2.5rem;
    font-weight: bold;
}

.logo img {
    width: 7rem;
    /* Ancho de la imagen */
    height: auto;
    /* Altura automática para mantener la proporción */
    margin-right: 10px;
    /* Espacio a la derecha del logo */
    vertical-align: middle;
    /* Alinear verticalmente */
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #666;
}

header .navbar ul li a:hover {
    color: var(--green);
}

header .fa-bars {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}


.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Añade esta línea */
    background: url(../img/main.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}


.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta la opacidad según sea necesario */

}

.home .content {
    text-align: center;
    padding: 1rem;
    z-index: 1;
}

.home .content h1 {
    font-size: 5.6rem;
    color: var(--green);
}

.home .content p {
    font-size: 1.9rem;
    color: #ffffff;
    padding: 1rem 0;
    width: 70rem;
    margin: 0 auto;
    /* Esto centrará el párrafo horizontalmente */
    text-align: center;
    /* Esto asegurará que el texto esté centrado */
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    position: relative;
    width: 25%;
    padding-top: 56.25%;
    margin-left: 6rem;
    margin-right: 6rem;
    /* Proporción de aspecto 16:9 para video responsivo */
}

.video video {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: auto;
    /* Ajusta la altura automáticamente según el ancho */
}



.about .row .image {
    flex: 1 1 40rem;
    padding: 2rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 40rem;
    margin-bottom: 0;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--green);
}

.about .row .content p {
    font-size: 2rem;
    color: #666;
    flex: 1 1 50%;
    max-width: 70rem;
    /* Ancho máximo deseado */
    overflow-wrap: break-word;
}

.comentariosCards {
    text-align: center;
    align-content: center;
    color: var(--green);
    font-size: 4rem;
    margin-bottom: 1rem;
}

.imgCard {
    width: 5rem;
    border-radius: 50%;
}

.item .userComment {
    font-size: 0.8rem;
    color: #666;
}


.slider {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: center;
    background-color: var(--green);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

#next {
    position: absolute;
    right: 50px;
    top: 40%;
}

#prev {
    position: absolute;
    left: 50px;
    top: 40%;
}

#prev,
#next {
    color: black;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#prev:hover,
#next:hover {
    opacity: 1;
}

.service {
    background: #f0f0f0;
    min-height: 57rem;
}

.service .box-container {
    display: flex;
    align-items: stretch;
    /* Esto estira las cajas para igualar la altura */
    justify-content: center;
    flex-wrap: wrap;
    width: 78%;
    margin: 0 auto;
}

.service .box-container .box {
    flex: 1 1 25rem;
    padding: 2rem 1rem 1rem;
    text-align: center;
    background: #fff;
    border: .2rem solid var(--green);
    margin: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    /* Para alinear verticalmente el contenido */
    flex-direction: column;
    /* Para alinear verticalmente el contenido */
    justify-content: space-between;
    /* Para alinear verticalmente el contenido */
    border-radius: 5px;
}

.service .box-container .box i {
    color: var(--green);
    font-size: 3rem;
    padding: 0.5rem 0;
}

.service .box-container .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin: 0;
}

.service .box-container .box a {
    color: #333;
    font-size: 1.3rem;
}

.service .box-container .box a:hover {
    color: var(--green);
}

.service .box-container .box:hover {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.footer {
    background: #333;
}

.footer .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.footer .box-container .box {
    margin: 0.5rem;
    flex: 1 1 25rem;
}

.footer .box-container .box .logo {
    font-size: 2rem;
    color: var(--green);
}

.footer .box-container .box .logo .img {
    width: 1rem;
}

.footer .box-container .box p {
    font-size: 1.7rem;
    color: #ccc;
    padding: 1rem 0;

}

.footer .box-container .box .share {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.footer .box-container .box:nth-child(2) a {
    text-align: center;
    font-size: 1.4rem;
    color: #eee;
    display: block;
    padding: .5rem 0;
}

.footer .box-container .box:nth-child(2) a:hover {
    text-decoration: underline;
}

.footer .box-container .box .letter {
    font-size: 2rem;
    color: #fff;
}

.footer .box-container .box form input[type="email"] {
    padding: 0 1rem;
    outline: none;
    border: .2rem solid var(--green);
    background: none;
    font-size: 1.7rem;
    color: #fff;
    height: 4rem;
    width: 74%;
}

.footer .credit {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    width: 85%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-top: .1rem solid #ccc;
}

.footer .credit span {
    color: var(--green);
}




/* media queries  */

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    .heading {
        text-align: center !important;
        align-items: center !important;
        padding: 1rem;
        flex-wrap: wrap;
        margin: auto;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        border-top: .1rem solid #ccc;
        opacity: 0;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
        background-color: #fff;
    }

    header .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .nav-toggle {
        top: 7.4rem;
        opacity: 1;
    }

    .home .content h1 {
        font-size: 4rem;
    }

    .home .content p {
        width: auto;
    }

    .service .box-container {
        width: auto;
    }

    .about .row .content p {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .video {
        width: 50%;
    }

    .video video {
        top: 50%;
        left: 50%;
    }


}

@media (max-width:500px) {

    .heading {
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .donate .form-container form .inputBox input,
    select {
        width: 100%;
    }

    .donate .form-container form {
        width: 90%;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .heading {
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}