@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
    --green: #c1c700;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: var(--green);
    color: #fff;
}

/* Estilos para el scroll */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho del scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color del fondo del scroll */
    border-radius: 20px;
    /* Radio del borde del fondo del scroll */
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    /* Color del scroll */
    border-radius: 20px;
    /* Radio del borde del scroll */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
    /* Color del scroll al pasar el mouse */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.heading {
    text-align: center;
    font-size: 4rem;
    font-family: 'Things' !important;
    color: var(--green);
    padding: 1rem;
    padding-top: 11rem;
}

.heading i {
    color: var(--green);
    font-size: 2rem;
}


/* Estilos para las tarjetas */
.card{
    border-radius: 30px !important;
}

.custom{
    border-radius: 30px !important;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    /* Más fuerte al pasar el mouse */
}

.card img {
    border-radius: 30px 30px 0 0 !important; /* Bordes redondeados en la parte superior */
}

.custom-img {
    width: 300px; /* Asegura que la imagen se ajuste al ancho del contenedor */
    height: 300px; /* O cualquier altura que prefieras */
    object-fit: cover; /* Mantiene la imagen proporcionalmente ajustada sin distorsionar */
    border-radius: 10px; /* Bordes redondeados */
}

@media (max-width: 576px) {
    .custom-img {
        height: 300px; /* Menor altura en dispositivos móviles */
    }
}




.card-title {
    font-size: 2rem;
    /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    /* Añade negrita para mayor impacto */
    color: #333;
    /* Color de texto */
    margin-bottom: 0.5rem;
    /* Espacio inferior */
}

.card-title.text-success {
    font-size: 1.8rem;
    /* Aumenta el tamaño de la fuente para el subtítulo */
    margin-bottom: 1rem;
    /* Espacio inferior */
    color: var(--green) !important;
}

.card-text {
    font-size: 1.4rem;
    /* Aumenta el tamaño de la fuente */
    color: #666;
    /* Color de texto */
    margin-bottom: 1rem;
    /* Espacio inferior */
}

.text-muted {
    font-size: 1.5rem;
    /* Ajusta el tamaño de la fuente */
    margin-bottom: 1.5rem;
    /* Espacio inferior */
}

.card-body .display-6 {
    font-size: 3rem;
    /* Ajusta el tamaño según sea necesario */
    color: var(--green);
    /* Cambia el color según tus preferencias */
}


.btn {
    padding: 10px 20px;
    /* Espaciado en el botón */
    font-size: 2rem !important;
    /* Aumenta el tamaño de la fuente en el botón */
    border-radius: 30px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Efecto de transición */
    background: var(--green) !important;
    border-color: var(--green) !important;
}

.btn:hover {
    background: var(--green) !important;
    /* Cambia el color de fondo al pasar el mouse */
}





.filter-container {
    display: flex;
    margin: 20px 0;
    color: var(--green);
    flex-direction: column;
}

label {
    margin-right: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--green);
}

select {
    padding: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    /* Add margin at the bottom for spacing */
    border: 1px solid var(--green);
    border-radius: 4px;
    width: 100%;
    /* Make the select box take 100% width on smaller screens */
    color: var(--green);
}

select option {
    font-size: 1.5rem;
    color: var(--green);
}

#buscarBtn {
    background-color: var(--green);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.no-results-message {
    text-align: center;
    font-size: 2rem;
    /* Adjust the font size as needed */
    margin: 20px 0;
    /* Add margin for spacing */
    color: var(--green);
    /* Optionally, set the color to your preference */
}


/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    select {
        margin-right: 0;
        /* Remove right margin on smaller screens */
    }

    #buscarBtn {
        margin-left: 0;
        /* Remove left margin on smaller screens */
        margin-top: 10px;
        /* Add top margin for spacing */
    }
}


.service {
    background: #f0f0f0;
    min-height: 42rem;
}

.service .headingService {
    text-align: center;
    font-family: 'Things' !important;
    font-size: 3rem;
    color: var(--green);
    padding: 1rem;
    padding-top: 2rem;
}

.service .box-container {
    display: flex;
    align-items: stretch;
    /* Esto estira las cajas para igualar la altura */
    justify-content: center;
    flex-wrap: wrap;
    width: 78%;
    margin: 0 auto;
}

.service .box-container .box {
    flex: 1 1 25rem;
    padding: 2rem 1rem 1rem;
    text-align: center;
    background: #fff;
    border: .2rem solid var(--green);
    border-radius: 30px !important;
    margin: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    /* Para alinear verticalmente el contenido */
    flex-direction: column;
    /* Para alinear verticalmente el contenido */
    justify-content: space-between;
    /* Para alinear verticalmente el contenido */
}

.service .box-container .box i {
    color: var(--green);
    font-size: 3rem;
    padding: 0.5rem 0;
}

.service .box-container .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin: 0;
}

.service .box-container .box h3 {
    color: #333;
    font-size: 2rem;
}

.service .box-container .box a {
    color: #333;
    font-size: 1.7rem;
}

.service .box-container .box a:hover {
    color: var(--green);
}

.service .box-container .box:hover {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}


/* media queries  */

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    .service .box-container {
        width: auto;
    }

}